@model IEnumerable<KimsWoodWorking.Models.UserCartItemModel>

@{
    ViewBag.Title = "ViewCart";
}
<br />
<h2>Cart for @GlobalVariables.currentUser.UserName</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                <p>
                    $
                    @Html.DisplayFor(modelItem => item.product_price)
                </p>
            </td>
            <td>
                @using (Html.BeginForm("updateCartItem", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => item.user_Id)
                    @Html.HiddenFor(model => item.product_id)
                    @Html.EditorFor(model => item.quantity)

                    <button type="submit">Update</button>

                    @Html.ValidationMessageFor(model => item.quantity, "", new { @class = "text-danger" })
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteCartItem", new { id = item.user_Id, product = item.product_id })

            </td>
        </tr>
    }
</table>
<br>
<p>Total Price: $@ViewBag.TotalCartPrice</p>
<input type="submit" onclick="location.href='@Url.Action("Index","CheckOut")'" value="Check out" />
<input type="submit" onclick="location.href='@Url.Action("Index","Products")'" value="Back to browse" />
