@model IEnumerable<KimsWoodWorking.Models.UserCartItemModel>

@{
    ViewBag.Title = "Check Out";
}

<h2>Confirm Cart to Check Out</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                <p>
                    $@Html.DisplayFor(modelItem => item.product_price)
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
        </tr>
    }
</table>
<br>
<p>Total Price: $@ViewBag.TotalCartPrice</p>
<input type="submit" onclick="location.href='@Url.Action("shipping_and_billing","CheckOut")'" value="To Shipping and Billing" />
<input type="submit" onclick="location.href='@Url.Action("ViewCart","Account")'" value="Back to Cart" />


<!--TODO create form to take personal information for checkout process.-->
